.chat-input-area {
  max-height: 400px;
  padding: 10px;
}

.bubbles-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;

  .gpt-writing-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
  }
}

.button-down {
  bottom: 20px;
  right: 20px;
}

.wallpaper {
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  background: url("/assets/pattern-18.svg");
  flex: 1 1 auto;

  ion-content::part(background) {
    background: transparent;
  }
}

.chat-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
