<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button/>
    </ion-buttons>
    <ion-title>Архив</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/settings'">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (chat of chats$ | async; track chat) {
      <app-chat-item [chat]="chat"/>
    }
  </ion-list>
</ion-content>
