<ion-item-sliding *ngIf="chat">
  <ion-item [routerLink]="chatLink()" [detail]="false">
    <ion-avatar>
      <div class="chat-circle">
        <span>{{ generateCircleText() }}</span>
      </div>
    </ion-avatar>
<!--    <ion-icon slot="start" name="chatbox-outline" size="large"></ion-icon>-->
    <ion-label>
      <h1 class="chat-title">{{ chat.name }}</h1>
      <p>Last message</p>
      <!--      <p class="last-message">{{chatService.chatLastMessageContent(chat.id)}}</p>-->
    </ion-label>
    @if (chat.pinned) {
      <ion-icon slot="end" size="small" name="link"/>
    }
  </ion-item>

  <ion-item-options slot="end" (ionSwipe)="chat.archived ? moveFromArchive() : moveToArchive()">
    @if (chat.pinned) {
      <ion-item-option color="secondary" [expandable]="false" (click)="unpinChat()">
        <ion-icon slot="icon-only" name="unlink"></ion-icon>
      </ion-item-option>
    } @else {
      <ion-item-option color="secondary" [expandable]="false" (click)="pinChat()">
        <ion-icon slot="icon-only" name="link"></ion-icon>
      </ion-item-option>
    }
    <ion-item-option color="danger" [expandable]="false" (click)="deleteChat()">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
    <ion-item-option color="medium" [expandable]="true" (click)="chat.archived ? moveFromArchive() : moveToArchive()">
      <ion-icon slot="icon-only" name="archive"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
