<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="signin" text="Sign in"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="h-container">
    <div class="container">
      <ion-card>
        <ion-input label="Email" labelPlacement="stacked" type="email"></ion-input>
      </ion-card>
      <ion-card>
        <ion-input label="Password" labelPlacement="stacked" type="password"></ion-input>
      </ion-card>
      <ion-card>
        <ion-input label="Password again" labelPlacement="stacked" type="password"></ion-input>
      </ion-card>
      <ion-button [routerLink]="'/home'">Sign up</ion-button>
    </div>
  </div>
</ion-content>
