.card {
  display: flex;
}

.right {
  justify-content: end;

  .bubble {
    border-radius: 10px 10px 0 10px;
  }
}

.card-content {
  padding: 10px;

  ::ng-deep {
    markdown {
      ol {
        padding-left: 20px;
      }

      ul {
        padding-left: 20px;
      }
    }
  }
}

.reply-container {
  padding: 5px;
}

.bubble {
  border-radius: 10px 10px 10px 0;
  max-width: 80%;
  color: var(--bubble-text-color);
}

.gpt-bubble {
  background: var(--gpt-bubble-color);
}

.user-bubble {
  background: var(--user-bubble-color);
}

.translated-label {
  padding: 10px;
}
