.card {
  display: flex;
}

.right {
  justify-content: end;

  .bubble {
    border-radius: 10px 10px 0 10px;
  }
}

.card-content {
  padding: 10px;

  markdown {
    ol {
      padding-left: 20px;
    }
    ul {
      padding-left: 20px;
    }
  }
}

.bubble {
  border-radius: 10px 10px 10px 0;
  max-width: 80%;
}
