<ion-action-sheet [buttons]="actionSheetButtons" (didDismiss)="onActionSheetDismiss($event)"></ion-action-sheet>

<div class="card" *ngIf="message" [ngClass]="{'right': message.role === 'user'}">
  <ion-card class="bubble" (dblclick)="onContextMenu()"
            (touchstart)="onTouchStart()" (touchend)="onTouchEnd()"
            [color]="message.role === 'user' ? 'tertiary' : 'medium'">
    @if (reply.length) {
      <div class="reply-container">
        @for (reply of reply; track reply) {
          <app-reply-item [text]="getMessage(reply.reply_to)?.content ?? ''"></app-reply-item>
        }
      </div>
    }

    <ion-card-content class="card-content">
      <markdown katex>
        {{ stringEscapeBackslashes(message.content) }}
      </markdown>
    </ion-card-content>
  </ion-card>
</div>
