<ion-action-sheet #actionSheet [buttons]="actionSheetButtons" (didDismiss)="onActionSheetDismiss($event)"/>
<ion-action-sheet #translateSheet [buttons]="translateActions()" (didDismiss)="onTranslateSheetDismiss($event)"/>

<div class="card" *ngIf="message" [ngClass]="{'right': message.role === 'user'}">
  <ion-card class="bubble"
            [ngClass]="{'gpt-bubble': message.role === 'assistant', 'user-bubble': message.role === 'user'}"
            (dblclick)="onContextMenu()"
            (touchstart)="onTouchStart()"
            (touchend)="onTouchEnd()">
    @if (reply.length) {
      <div class="reply-container">
        @for (reply of reply; track reply) {
          <app-reply-item [text]="getMessage(reply.reply_to)?.content ?? ''"></app-reply-item>
        }
      </div>
    }

    @if (currentLang !== originalLang) {
      <span class="translated-label">Переведено с {{ originalLang }}</span>
    }

    <ion-card-content class="card-content">
      <markdown #markdownComponent katex>
        {{ stringEscapeBackslashes(message.content) }}
      </markdown>
    </ion-card-content>
  </ion-card>
</div>
