<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="h-container">
    <div class="container">
      <ion-card>
        <ion-input #emailLabel label="Email" labelPlacement="stacked" type="email"></ion-input>
      </ion-card>
      <ion-card>
        <ion-input #passwordLabel label="Password" labelPlacement="stacked" type="password"></ion-input>
      </ion-card>
      <ion-button (click)="signIn(emailLabel.value, passwordLabel.value)">Sign in</ion-button>
      <ion-button fill="clear">Forgot Password?</ion-button>
      <ion-button fill="clear" [routerLink]="'/signup'">Sign up</ion-button>
    </div>
  </div>
</ion-content>
