<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="addChat()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/settings'">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!data.remote_chats_loaded" class="ion-padding">
  <div class="container-spinner">
    <div class="container-spinner-h">
      <ion-spinner name="lines"></ion-spinner>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="data.remote_chats_loaded && !chats.length" class="ion-padding">
  <div class="container-no-chats">
    <ion-label class="ion-label"><h1>There are no chats yet</h1></ion-label>
    <div class="button-container">
      <ion-button class="button" size="default" (click)="addChat()">
        <ion-icon name="add" slot="start"></ion-icon>
        Add chat
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="data.remote_chats_loaded && chats.length" [fullscreen]="true">
  <ion-list [inset]="false">
    <app-chat-item *ngFor="let chat of chats" [chat]="chat" [chatService]="data"></app-chat-item>
  </ion-list>
</ion-content>
