<ion-header [translucent]="true" id="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ chat?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [formGroup]="formGroup">
  <ion-item>
    <ion-input formControlName="name" label="Название:"></ion-input>
  </ion-item>
  <ion-item>
    <ion-select formControlName="model" label="Модель:" placeholder="Default">
      @for (model of models$ | async; track model) {
        <ion-select-option [value]="model">{{ model }}</ion-select-option>
      }
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input type="number" label="Размер контекста:" formControlName="context"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" label="Temperature:" formControlName="temperature"></ion-input>
  </ion-item>
  <div class="buttons-container">
    <ion-button (click)="save()">Сохранить</ion-button>
    <ion-button color="danger" fill="outline" (click)="close()">Отмена</ion-button>
  </div>
</ion-content>
