<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="bubbles-list">
      <app-chat-bubble *ngFor="let message of getMessages()" [message]="message"></app-chat-bubble>
    </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-textarea placeholder="Message..." class="chat-input-area"></ion-textarea>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
