<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/home'"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [inset]="true">
    <ion-item>
      <ion-select label="Theme" value="system">
        <ion-select-option value="light">Light</ion-select-option>
        <ion-select-option value="dark">Dark</ion-select-option>
        <ion-select-option value="system">System</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>{{this.user}}</ion-label>
        <ion-button (click)="this.signOut()" slot="end">Sign out</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
